{% extends 'ebook/base.html' %}

{% block main %}

{% if error %}
<div class="row pt-3">
    <div class="alert alert-danger col-12">
        {{ error }}
    </div>
</div>
{% endif %}

<div class="row">
    <span class="col-2"></span>
    <h1>Sign Up!</h1>
</div>

{% endif %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <label for="username" class="col-2 text-right">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" class="form-control col-4" required>
    </div>

    <div class="form-group row">
        <label for="password1" class="col-2 text-right">Password:</label>
        <input type="password" id="password1" name="password1" placeholder="Password" class="form-control col-4" required>
    </div>

    <div class="form-group row">
        <label for="password2" class="col-2 text-right">Confirm Password:</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control col-4" required>
    </div>
    <div class="row">
        <span class="col-2"></span>
        <input type="submit" class="btn btn-primary" value="Sign Up!">
    </div>

</form>
{% endblock main %}